:root {
  --turn-speed: 0.18s;
}

.map-container {
  /*background-color: gray;*/
}

.handles {
  font-family: Andale Mono, AndaleMono, monospace;
}

svg.map {
  width: 100%;
  height: auto;
  /*background-color: transparent;*/
  max-height: 100vh;
}

.portal {
  --color: #8C00BF;
  fill: var(--color);
  color: var(--color);
}

.tree {
  --color: #33654A;
  fill: var(--color);
  color: var(--color);
}

.coin {
  --color: #F1A208;
  fill: var(--color);
  color: var(--color);
}

.crate {
  --color: #644432;
  fill: var(--color);
  color: var(--color);
}

.water {
  --color: #005377;
  fill: var(--color);
  color: var(--color);
}

.wall {
  --color: #CCC;
  fill: var(--color);
  color: var(--color);
}

.missile {
}

.craft {
  /*stroke: white;*/
  /*stroke-width: 0.005;*/
}

.craft.crashed {
  opacity: 20%;
}

.missile-0,
.craft-0 {
  fill: #FF0000;
  color: #FF0000;
}

.missile-1,
.craft-1 {
  fill: #00FF00;
  color: #00FF00;
}

.missile-2,
.craft-2 {
  fill: #0000FF;
  color: #0000FF;
}

.craft-3 {
  fill: #FFFF00;
  color: #FFFF00;
}

.craft-4 {
  fill: #00FFFF;
  color: #00FFFF;
}

.craft-5 {
  fill: #FF00FF;
  color: #FF00FF;
}

.craft-6 {
  fill: #FF7700;
  color: #FF7700;
}

.craft-7 {
  fill: #FFFFFF;
  color: #FFFFFF;
}

.craft-8 {
  fill: #444444;
  color: #444444;
}

main.worlds {
  display: grid;
  grid-template-columns: auto auto;
}

main.worlds h2 {
  justify-self: end;
}

@media (max-width: 40rem) {
  main.worlds {
    grid-template-columns: auto;
  }

  main.worlds h2 {
    justify-self: start;
  }
}
