*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: Georgia, serif;
  background-color: #17191a;
  color: #e3e6ea;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #5898c8;
}

a:visited {
  color: #8c7fde;
}

svg {
  display: block;
  max-width: 100%;
}

ul, ol {
  padding-left: 1.5rem;
}

p, li, span {
  font-size: large;
}

h2 {
  font-size: xx-large;
}

/*h1, h2, h3 {*/
  /*font-family: courier new, monospace;*/
/*}*/
